body {
     color: white;
     background: DarkGreen url("backgr-img.jpg") fixed no-repeat;
     background-size: cover;
     text-align: center;
     font-family: Sofia, sans-serif;
     cursor: default;
}

.h1 {
   font-size: 60px;
   color: Yellow;
   font-family: Sans-Serif; 
   text-shadow: 2px 2px 10px #00ff00
}

.p1 {
    font-family: Sans-Serif;
    color: white;
}

.pre1 {
      font-size:30px;
      font-family:Sans-Serif; 
      color: white;
}

.p2 {
     color:red;
     font-family:Sans-Serif;
}

.a1:link, .a1:visited {
    color: yellow;
    border: 4px solid yellow;
    text-decoration: none;
    display: inline-block; 
    padding: 10px;
    border-radius: 15px;
}

.a1:hover {
    color: green;
    border: 4px solid green;
    background-color: rgba(255, 255, 0, 0.87);
    text-decoration: none;
    display: inline-block; 
    padding: 10px;
    border-radius: 15px;
}

.a2:link, .a2:visited {
    color: rgb(37, 101, 153);
    border: 4px solid rgb(53, 122, 74);
    text-decoration: none;
    display: inline-block; 
    padding: 8px;
    border-radius: 14px;
}

.a2:hover {
    color: rgb(53, 122, 74);
    border: 4px solid rgb(37, 101, 153);
    text-decoration: none;
    display: inline-block; 
    padding: 8px;
    border-radius: 14px;
}

.adr1 {font-size:26px;}

.tuffp {
    text-decoration: none;
    color: #ffffff;
    font-size: 24.6px;
    cursor: wait;
}

.tuffp:hover {
    color: rgb(255, 56, 20);
}




